<div class="profile">
    <header id="header">
        <a href='{{ pages.find('/about').url }}'>
            <img id="avatar" class="2x" src="{{ avatar_url }}"/>
        </a>
        <h1>{{ theme_config.author }}</h1>
        <h2>{{ 'SITE.DESCRIPTION'|t }}</h2>
    </header>
</div>
